html {
    font-family: 'Inter', sans-serif;
}
body {
    background-color: rgb(0, 0, 0);
}
body h1 {
    color: #FFFFFF;
    font-weight: 800;
    font-size: 3rem;
}
body h2 {
    font-size: 3rem;
    line-height: 4.098rem;
    font-weight: 800;
    color: #FFFFFF;
}
body h3 {
    font-size: 2rem;
    line-height: 2.732rem;
    font-weight: 800;
    color: #FFFFFF;
}
body h4 {
    font-size: 1.25rem;
    line-height: 1.708rem;
    font-weight: 800;
    color: #FFFFFF;
}
body p {
    font-size: 1.25rem;
    line-height: 1.708rem;
    font-weight: 600;
    color: #FFFFFFCC;
}
body p#Founder {
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 2.55rem;
    text-align: center;
}
body p#Pros {
    font-size: 1rem;
    line-height: 1.366rem;
    font-weight: 500;
    color: #FFFFFF;
}
.Blur-Ball {
    width: 100%;
    max-height: 39.75rem;
    height: 100%;
    position: absolute;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    border-radius: 100%;
    background-image: linear-gradient(90deg, #5a118c 25%,  #B07AF4 50%, #ec38bc);
    filter: blur(6.25rem);
    z-index: -1;
}
.Figure1 {
    max-width: 9.75rem;
    max-height: 10.063rem;
    position: absolute;
    top: -5%;
    right: auto;
    left: -3%;
    bottom: auto;
    z-index: -1;
}
.Figure2 {
    max-width: 17.063rem;
    max-height: 15.438rem;
    position: absolute;
    top: 79%;
    right: 39%;
    left: auto;
    bottom: 0%;
    z-index: 1;
}
*{
    padding: 0rem;
    margin: 0rem;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.Section {
    max-width: 90rem;
    width: 100%;
    margin: 0rem auto;
}
.Section#Nav {
    margin: 0rem auto 5.25rem auto;
}
.Section#Hero {
    margin: 0rem auto 6rem auto;
}
.Section#Feature {
    margin: 0rem auto 13.938rem auto;
}
.Section#About {
    margin: 0rem auto 10.188rem auto;
}
.Section#Instructions {
    margin: 0rem auto 3.429rem auto;
}
.Section#Recent {
    max-width: 100%;
    margin: 0rem 0rem 10.063rem 0rem;
    overflow: hidden;
}
.Section#Founder {
    margin: 0rem auto 11.063rem auto;
}
.Section#Plans {
    margin: 0rem auto 21.313rem auto;
}
.Container {
    max-width: 75rem;
    width: 100%;
    height: auto;
    position: relative;
    margin: 0rem auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}
.Container#Nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Container#Founder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.Nav-Bar {
    max-width: 41.625rem;
    width: 100%;
    height: 4.375rem;
    padding: 0.75rem 3.125rem;
    margin: 2.625rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2.313rem;
    background: rgba(250, 237, 255, 0.1);
    border-radius: 12.5rem;
}
.Nav-Cell {
    width: auto;
    height: 2.875rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem;
    gap: 1.5rem;
    font-size: 1rem;
}
.Nav-Cell a {
    color: #FFFFFF;
    font-weight: 800;
}
.Hero {
    width: 100%;
    height: 32.375rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}
.Hero-Cell {
    max-width: 36.188rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0rem;
    gap: 2rem;
}
.Hero-Cell p {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 600;
    font-size: 1.75rem;
}
.Hero-BTN {
    max-width: 13.54rem;
    width: 100%;
    height: 4.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.25rem 2rem ;
    gap: 1.063rem;
    background: linear-gradient(77.18deg, #FFFFFF 0.06%, rgba(255, 255, 255, 0.58) 98.61%);
    box-shadow: 0rem 0.625rem 1.25rem rgba(0, 0, 0, 0.25);
    border-radius: 6.25rem;
    cursor: pointer;
}
.Text-BTN {
    color: #000000;
    width: 100%;
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.375rem;
}
.Circle {
    max-width: 2rem;
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: black 0.105rem solid;
}
.Feature {
    width: 100%;
    height: 10.313rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    z-index: 2;
}
.Feature-Cell {
    max-width: 23.667rem;
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.25rem;
    background: rgba(250, 237, 255, 0.1);
    border-radius: 2.5rem;
}
.Feature-Cell p {
    font-size: 1rem;
    line-height: 1.366rem;
    font-weight: 500;
    color: #FFFFFFCC;
}
.Feature-Text-box {
    max-width: 15.792rem;
    width: 100%;
    height: auto;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.About {
    width: 100%;
    height: 36.25rem;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}
.About-Cell {
    width: 100%;
    height: 17.125rem;
    padding: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}
.About-Box {
    max-width: 36.5rem;
    width: 100%;
    height: 17.125rem;
    padding: 4.5rem 3.125rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    background: rgba(250, 237, 255, 0.1);
    border-radius: 2.5rem;
}
.Instructions {
    width: 100%;
    height: 81.071rem;
    padding: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}
.Arrow-Instruction{
    width: auto;
    height: auto;
    position: absolute;
    top: 20%;
    left: 49%;
    right: auto;
    bottom: auto;
}
.Arrow-Instruction2 {
    width: auto;
    height: auto;
    position: absolute;
    top: 39%;
    left: 43%;
    right: auto;
    bottom: auto;
}
.Arrow-Instruction3 {
    width: auto;
    height: auto;
    position: absolute;
    top: auto;
    left: 33.8%;
    right: auto;
    bottom: 14%;
}
.Figure3 {
    max-width: 37.75rem;
    width: 100%;
    max-height: 22.938rem;
    height: 100%;
    position: absolute;
    top: 0.7%;
    left: 76%;
    right: 0%;
    bottom: auto;
}
.Instructions-Cell {
    max-width: 36.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.Instructions-Cell#Down {
    justify-content: flex-end;
}
.Instructions-Box {
    width: 100%;
    height: 30.813rem;
    padding: 4.5rem 3.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: rgba(250, 237, 255, 0.1);
    box-shadow: 0rem 0.625rem 1.25rem rgba(0, 0, 0, 0.25);
    border-radius: 2.5rem;
}
.Instructions-Box p {
    text-align: center;
}
.Recent{
    max-width: 97rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.563rem;
}
.Recent img {
    max-width: 23.063rem;
    width: 100%;
    height: 28.813rem;
    filter: drop-shadow(0rem 0.625rem 1.25rem rgba(0, 0, 0, 0.25));
    border-radius: 1.25rem;
}
.Founder-Card {
    width: 100%;
    height: 27rem;
    padding: 4.5rem 3.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background: rgba(250, 237, 255, 0.1);
    box-shadow: 0rem 0.625rem 1.25rem rgba(0, 0, 0, 0.25);
    border-radius: 2.5rem;
}
.Founder-Cell {
    max-width: 24.563rem;
    width: 100%;
    height: auto;
    padding: 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}
.Founder-Text-Box {
    max-width: 16.813rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.Figure1#Plans {
    top: auto;
    left: 90%;
    right: 0%;
    bottom: auto;
}
.Figure2#Plans {
    max-width: 22.125rem;
    width: 100%;
    max-height: 20rem;
    height: 100%;
    top: 90%;
    left: -15%;
    right: auto;
    bottom: 0%;
}
.Figure2#Plans img {
    max-width: 22.125rem;
    width: 100%;
    max-height: 20rem;
    height: 100%;
}
.Plans-Box {
    width: 100%;
    height: 53.25rem;
    padding: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}
.Plans-Cell {
    max-width: 36.5rem;
    width: 100%;
    height: 100%;
    padding: 4.5rem 3.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background: rgba(250, 237, 255, 0.1);
    box-shadow: 0rem 0.625rem 1.25rem rgba(0, 0, 0, 0.25);
    border-radius: 2.5rem;
}
.Plans-Cell p {
    text-align: center;
}
.Plans-Cell h2 span {
    font-size: 1.5rem;
    font-weight: 800;
    color: #FFFFFF99;
}
.Plans-Button {
    width: 100%;
    height: 3.875rem;
    padding: 1.25rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 1.063rem;
    background: #000000;
    box-shadow: 0rem 0.625rem 1.25rem rgba(0, 0, 0, 0.25);
    border-radius: 6.25rem;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.366rem;
}
.Pros {
    width: 100%;
    height: 23.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    background: rgba(250, 237, 255, 0.1);
    border-radius: 2.5rem;
}
.Pros-Cell {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.75rem;
}